
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>assc-art-web</title>
</head>

<body> 
    <fieldset>
<form method="POST" action="/submit-form">
    <label for="text">enter your text:</label>
    <br><br>
    <input type="text" id="text" name="thetext">
    <br><br>
    <select name="chose" id="chose">
        <option value="thinkertoy">thinkertoy</option>
        <option value="standard">standard</option>
        <option value="shadow">shadow</option>
    </select>
    <input type="submit" value="submit">
    <input type="reset" value="rest">
</form>
    </fieldset>
</body>

</html>